Package: dataone-cn-rest-service
Version: 1.2.0
Section: utils
Priority: optional
Architecture: all
Depends: dataone-cn-os-core, sun-java6-jdk, tomcat6, tomcat6-admin, dataone-cn-version-tool
Installed-Size: 1 kb
Maintainer: Robert Patrick Waltz <rwaltz@utk.edu>
Description: This is a metapackage that installs the cn-rest-service dependencies that are needed to build a coordinating node instance, and then installs and configures the CN Rest Service itself.
